<div class="container">
  <div class="card">
    <form id="add-form" (ngSubmit)="f.form.valid && saveSolicitation(f)" #f="ngForm" novalidate>
      <h2>Insira os dados:</h2>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" [(ngModel)]="solicitation.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Digite seu nome">
        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name.errors.required">Nome é obrigatório</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <textarea type="text" [(ngModel)]="solicitation.description" id="description" name="description" #description="ngModel" required class="form-control" rows="3" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" placeholder="Digite uma descrição"></textarea>
        <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
          <div *ngIf="description.errors.required">Descrição é obrigatório</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Preço</label>
        <input type="number" [(ngModel)]="solicitation.price" id="price" name="price" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Digite o preço">
        <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
          <div *ngIf="price.errors.required">Preço é obrigatório</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary submitSolicitation">Realizar Solicitação</button>
      <button type="reset" class="btn btn-secondary cancelSolicitation" (click)="cleanForm(f)">Cancelar</button>
    </form>
  </div>
</div>
